name: Deploy to Hostinger

on:
  push:
    branches:
      - main  # or master, depending on your branch name

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: 82.25.96.249
        username: u521468402
        password: ${{ secrets.Otiismylove!9497 }}
        server-dir: /domains/techykoala.com/public_html/